body{
    margin-top: 5px;
    margin: 0;
    text-align: center;
    font-family: verdana, sans-serif;
}

h1{
    margin-top: 0;
}

.top-container{
    background-color: #ccf2f4;
    padding-top: 100px;
    position: relative;
}

.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

/*
    COLOR PALLET
    #f4f9f9
    #ccf2f4
    #a4ebf3
    #aaaaaa
    #faf3e0
    #eabf9f

    text-align : center -- centres anything without a width
    margin: auto -- centres block elements with width
*/